.logo-img{
  text-align: center;
}
.logo{
  height: 120px;
}
.content-container{
  display: flex;
  margin: 0px 10px;
}
.trophy-img{
  padding-left: 70px;
}
.machines{
  text-align: center;
}
.machine-img{
  object-fit: contain;
}
.after-machines{
  text-align: center;
  margin: 0px 30px;
}
span{
  color: red;
}
.footer{
  background-color: red;
  margin: 10px;
  height: 70px;
  padding-top: 40px;
  text-align: center;
}
.foot{
  padding: 20px;
}
@media (max-width:426px){
  .logo{
    height: 60px;
  }
  .content-container{
    text-align: center;
    display: block;
    margin: 0;
  }
  .trophy-img{
    padding: 0;
    height: 100px;
  }
  .group-img{
    height: 150px;
  }
  .machine-img{
    height: 150px;
    width: 300px !important;
  }
  .after-machines{
    margin: 0;
  }
  .footer{
    margin: 0;
    padding: 10px 0;
  }
  .foot{
    display: block;
    padding: 2px 0;
  }
  .trophy-sec{
    width: 100% !important;
  }
  .trophy-cont{
    width: 100% !important;
  }
  div{
    padding: 5px;
  }
}

@media (max-width:768px) {
  .trophy-img{
    padding: 0;
  }
  .machine-img{
    width: 700px;
  }
  .content-container{
    margin: 0;
  }
  .group-img{
    height: 250px;
  }
  .trophy-img{
    margin-left: -40px;
  }
  .trophy-cont{
    padding-left: 20px;
  }
}